{% extends "base.html" %}
{% block content %}
<div id="symptoms" class="section white scroll-adjust">
    <div class="container">
        <h3>ER Diagram</h3>
        <img src="/static/images/diagram.png">
        <br><br><hr>
    </div>
    <div class="container">
            <h3>Query Example</h3>
            <p class="flow-text"><code>
                select sum(average_severity) as total_severity from<br>
                (select symptom.name, avg(observation.severity) as average_severity<br>
                from symptom, observation<br>
                where symptom.symptom_id = observation.symptom_id<br>
                and observation.patient_id = ?<br>
                and observation.symptom_start_time >= ?<br>
                and observation.symptom_start_time <= ?<br>
                group by symptom.name);
            </code></p>
        </div>
</div>
{% endblock %}