
{% extends "base.html" %}

{% block content %}
<!-- Query page -->
<div class="container">
    <div class="row">
        <h4>Check patient's progress here</h4><br>

                <!-- Query form -->
            <form action="" method="post" name="query_form">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s4">
                        Patient ID:<br>
                        {{form.pid(size=20)}}<br>
                    </div>
                    <div class="input-field col s4">
                        Start Date:<br>
                        {{form.start_date(size=100)}}<br>
                    </div>
                    <div class="input-field col s4">
                        End Date:<br>
                        {{form.end_date(size=100)}}<br>
                    </div>
                </div>
                <div>
                    <span class="text-grey text-lighten-3">Please select the type of report you want to see:</span><br>
                    {{form.query_type}}
                </div>
                <p>
                    <button class="black-text btn waves-effect waves-light green accent-2" type="submit" value="q1">
                        Submit Query                    
                    </button>
                </p>
            </form>
    </div>
</div>
{% endblock %}
