
{% extends "base.html" %}

{% block content %}
<!-- Query page -->
<div class="container">
    <div class="row">
        <h4>Check patient progress here</h4><br>

                <!-- Query form -->
            <form action="" method="post" name="query_form">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s4">
                        Select patient:<br>
                        {{form.p_id(class_="browser-default")}}
                    <!-- <label>Select from list</label><br> -->
                    <!-- <select class="browser-default">
                        <option value="" disabled selected>Choose a patient</option>
                        {% for p in patients %}
                            <option value={{p['patient_id']}}>{{ p['patient_id'] , p['name'] }}</option>
                        {% endfor %}
                    </select> -->
                    </div>
                    <div class="input-field col s4">
                        Start Date (yyyy-mm-dd):<br>
                        {{form.start_date(size=100, placeholder="Lower Bound: 2016-09-12")}}<br>
                    </div>
                    <div class="input-field col s4">
                        End Date (yyyy-mm-dd):<br>
                        {{form.end_date(size=100, placeholder="Upper Bound: 2018-03-04")}}<br>
                    </div>
                </div>
                <div>
                    <span class="text-grey text-lighten-3">Please select the type of report you want to see:</span><br>
                    {{form.query_type}}
                </div>
                <p>
                    <button class="black-text btn waves-effect waves-light green accent-2" type="submit" value="q1">
                        Submit Query                    
                    </button>
                </p>
            </form>
    </div>
</div>
{% endblock %}

{% block results %}
<div class="container">
    <br><hr><br>
    <div class="row">
        <h5>Query Results - {{ report_title }}</h5>
    </div>
    <table class="striped">
        <thead>   
        <tr>
            {% for row in results[0] %}
            <th>{{row}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for row in results[1:] %}
          <tr>
              {% for i in row %}
            <td>{{i}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}