
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h4>Create a new patient here</h4><br>

                <!-- Patient form -->
            <form action="" method="post" name="setup">
                {{ form.hidden_tag() }}
                <div class="section">
                    <div class="row">
                        <div class="input-field col s6">
                            Name:
                            <br> {{form.name(size=120)}}
                        </div>
                        <div class="input-field col s6">
                            Date of Birth:
                            <br> {{form.dob(size=120)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                        Street Address:<br>
                        {{form.street_address(size=120)}}
                        </div>
                        <div class="input-field col s6">
                        City:<br>
                        {{form.city(size=120)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                        State:<br>
                        {{form.state(size=120)}}
                        </div>
                        <div class="input-field col s4">
                        Country:<br>
                        {{form.country(size=120)}}
                        </div>
                        <div class="input-field col s4">
                            Telephone:<br>
                            {{form.telephone(size=120)}}
                        </div>
                    </div>
                </div>
                <p>
                    <button class="black-text btn waves-effect waves-light green accent-2" type="submit" value="addpatient">
                        Add patient
                    </button>
                </p>
            </form>
    </div>
</div>
{% endblock %}
